<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DEFAULT" connectionString="Data Source=WINDOZE\SQLEXPRESS;Initial Catalog=DAI;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;" />
  </connectionStrings>
  <appSettings>
    <add key="DBTYPE" value="MSSQL"/>
    <add key ="TDDMode" value="false"/>
    <add key ="PessimisticUpdate" value="true"/>
  </appSettings>
</configuration>